# Environments
.env
.env.*
!.env.example
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
har_file/
eggs/
.eggs/
lib64/
lib/
!frontend/src/lib/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Node / JS
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.eslintcache
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
skills-lock.json
